        <meta charset="UTF-8" />
        <meta name="author" content="Rüdiger Wackwitz">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Lectonet // <%= title %></title>
        <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js"
          data-cbid="91f0f85a-a933-4c5e-870a-7b4138eb6e60" data-blockingmode="auto"
          type="text/javascript"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-R6NSR73YJ8"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag() { dataLayer.push(arguments); }
          gtag('js', new Date());

          gtag('config', 'G-R6NSR73YJ8');
        </script>
        <!-- favicon -->
        <link rel="icon" type="image/png" href="../../static/images/favicon.png" />
        <!-- Default CSS and Media Queries -->
        <link rel="stylesheet" href="../../static/css/global/header.css" />
        <link rel="stylesheet" href="../../static/css/global/footer.css" />
        <link rel="stylesheet" href="../../static/css/global/global.css" />
        <link rel="stylesheet" href="../../static/css/global/hamburger.css" />
        <!-- Svelte -->
        <link rel="stylesheet" href="../../static/svelte/svelte.css" />
        <script src="../../static/svelte/svelte-bundle.js" defer></script>
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,700;1,300&display=swap"
            rel="stylesheet"
        />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap" rel="stylesheet" />
        <!-- script to handle navigation/general interactivity -->
        <script src="../../static/script.js" defer></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../../static/slick/slick.css" />
        <link rel="stylesheet" type="text/css" href="../../static/slick/slick-theme.css" />