<title>Title</title>

<!-- My Inline Script -->
<script nonce='<%= nonce %>'>
  console.log("I am an inline script!")
</script>

<!-- more CSS -->
<link rel="stylesheet" href="../../static/css/xxxxxxx.css" />