<!DOCTYPE html>
<html lang="en">
	<head>
    <%- include ("../partials/head.ejs", {nonce: nonce}) %>
    <style>
        @import url('../../static/styles.css');
    </style>
	</head>
	<body>
	</body>
</html>