/* section.picture img {
	border: 1px solid red;
	width: 835px;
	height: 914px;
}

.logo-footer {
	width: 142px;
	height: 26px;
}

* {
	font-family: "Courier New", Courier, monospace;
}

p {
	font-family: "Courier New", Courier, monospace;
}

.container-icons-social-media {
	width: 92px;
	height: 22px;
} */
